nav {
  display: flex;
  gap: 0.8rem;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  padding: 0.7rem 1.2rem;
  border-radius: 2rem;
  bottom: 2rem;
  backdrop-filter: blur(15px);
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a.active {
  color: var(--color-bg);
  background: var(--color-primary);
}

nav a:hover {
  background: rgba(0, 0, 0, 0.4);
}
